* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:  rgb(246, 244, 238);
    font-family: sans-serif;
    font-family: "Gowun Batang", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 60px; 
  }
  
  .logo a {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    color: #333;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50px; 
  }
  
  .nav-links li {
    margin-left: 25px;
    font-size: 14px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
  }

  .right-side {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
  }

  .dropdown {
    position: relative;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .search-icon img {
    display: none;
    height: 24px;
    cursor: pointer;
  }
  
  .search-bar {
    padding: 8px 12px;  
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
  }
  
  .signup-btn {
    margin-left: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    padding: 8px 15px;
    height: 38px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 20px; 
  }
  
  .hamburger span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
  

  .cancel {
    display: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f8f8f8;
      padding: 20px;
    }
  
    .nav-links li {
      margin: 15px 0;
      font-size: 18px;  
      font-weight: bold; 
      color: #444;  
    }
  
    .search-bar {
      display: none;
    }
  
    .search-icon img {
      display: block;
    }
  
    .signup-btn {
      display: block;
    }
  
    .hamburger {
      display: flex;
    }
  
    .cancel {
      display: block;
    }
  
    .nav-links.active {
      display: flex;
    }
    .login-btn{
      display: none;
    }
  }
  
  
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn::after {
    content: '';
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
  }
  
  
  .login-btn{
    text-decoration: none;
    color: black;
  }

.container {
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 56px;
    font-weight: 400;
    color: rgb(6, 3, 24); 
    margin-bottom: 20px;
    font-family: "Source Serif 4", "Source Serif 4 Placeholder", serif;
    line-height: 1.2em;

}

.subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #6c757d; 
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.designer-section {
  
    padding: 80px 0;
}


.pricing-section {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    background-color:  rgb(230, 250, 236); 
    border:40px solid rgb(230, 250, 236);
    padding: 10px;
    border-radius: 30px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.pricing-card {
    background-color: white;
    
    border-radius: 10px;
    padding: 20px;
    width: calc(33.33% - 0px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

.pricing-card h3 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3em;
    color: black;
    text-align: center;
}

.pricing-card p {
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    
}

.pricing-card h2 {
    font-size: 2em;
    margin: 20px 0;
}

.cta-button {
    background-color: black;
    width: 80%;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0;
    font-weight: 400;
}
.cta-buttons{
  background-color: rgb(228 74 133);
  width: 80%;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px 0;
  font-weight: 400;
}
.cta-button:hover {
    background-color: #333;
}
.cta-buttons:hover {
  background-color: rgb(244 162 194);
  ;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

.pricing-card ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #7b7b7b;
}

.pricing-card ul li::before {
    content: '✔';
    margin-right: 10px;
    color: #ff69b4;
}

.cancel-text {
    margin-top: auto;
    color: grey;
    font-size: 10px;
    text-align: center;
}

.new-badges {
    background-color: #d35fb0;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    position: relative;
    top: -30px;
    display: block;
    width: 50px;
}

@media (max-width: 1115px){
    .pricing-section{
      flex-direction: column;
      margin: 20px;
    }
    .pricing-card{
      width: 100%;
    }
    .cta-button{
      width: 200px;
    }
    .cta-buttons{
      width: 200px;
    }
    .talent-search-section{
      display: flex;
    flex-direction: column;
    }
    .job-board{
      display: flex;
      flex-direction: column-reverse;
    }
    .highlighted-projects{
      display: flex;
      flex-direction: column;
    }
    .search-container {
      width: 100% !important;
    }
    .talent-search-section{
      padding: 30px !important;
    }
    .project-card{
      width: 100%;
    }
    .project-list {
      padding: 5px !important;
    }
    .job-board {
      padding: 5px !important;
      margin: 20px;
    }
}
@media (max-width: 800px){
  .highlighted-projects{
    margin: 0;
  }
  .pricing-section{
    border: 10px solid rgb(230, 250, 236);
  }
  
}

.talent-search-section {
  display: flex;
  gap: 20px;
  padding: 80px;
}

.search-container {
  flex: .5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(90deg, #F7E9F3 0%, #E0DFFC 100%);
  border-radius: 16px;
  width: 60%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 60px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
}

.search-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4d9e;
  padding: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
  margin-left: 5px;
}

.profile-carousel {
  display: flex;
  gap: 16px;
  overflow-x: hidden;
  padding: 10px 0;
  scroll-behavior: smooth;
  white-space: nowrap;

}

.profile-card {
  display: inline-block;
  min-width: 300px;
  padding: 16px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 20px;
  animation: scroll-horizontal 5s linear infinite;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-tag {
  background: #ff4d9e;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  margin-top: -8px;
}

.info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info-text h2 {
  font-size: 28px;
  color: #0a0a0a;
  margin: 0;
  line-height: 1.2;
}

.info-text p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 1.5;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.job-board {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 100px;
  justify-content: center;
  gap: 4rem;
}

.text-content {
  flex: 1;
  padding-right: 20px;
  max-width: 400px; 
}

.text-content h1 {
  font-size: 30px;
  margin-bottom: 16px;
  line-height: 1.2;
}

.text-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;  
}

.image-content {
  position: relative;
  flex: 2; 
  height: 400px; 
  max-width: 750px; 
  overflow: hidden;
  border-radius: 30px;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.left-panel {
  flex: 1;
  background-color: #F5F5F5;
  padding: 20px;
}

.profile {
  padding: 10px;
  background-color: #E5E5E5;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-btn {
  background-color: #9F55FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 80%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box h2 {
  font-size: 2rem;
}

.content-box ul {
  list-style: none;
  padding: 0;
}

.content-box li {
  margin: 10px 0;
}




.testimonials-section {
    padding: 40px 20px;
    max-width: 1200px; /* Added max-width to restrict the width */
    margin: 0 auto; /* Center align the section */
    width: 100%;
}

@media (max-width: 900px) {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr)) !important; 
    }
    
}
@media (max-width: 490px) {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 1fr)) !important; 
    }
    
}
.testimonials-section h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Reduced gap between testimonials */
    display: grid;
    flex: none;
    gap: 16px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(1, min-content);
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.testimonial {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: left;
    margin: 0 5px; /* Reduce margin to align closely */
    max-width: 360px; /* Set a max-width to make them more compact */
}
.quote-icon {
    font-size: 30px; /* Reduced size */
    color: #ff2d55;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.testimonial-info {
    display: flex;
    align-items: center;
}

.testimonial-info img {
    border-radius: 50%;
    width: 40px; /* Reduced size */
    height: 40px; /* Reduced size */
    margin-right: 10px;
}

.name {
    font-weight: bold;
    font-size: 14px; /* Adjusted font size */
}

.position {
    font-size: 12px;
    color: #777;
}





.highlighted-projects {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    justify-content: center;
    gap: 1rem;
    
}

.project-list {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px;
}
.project-card{
  position: relative;
  flex: 2; 
  height: 400px; 
  max-width: 780px; 
  overflow: hidden;
  border-radius: 30px;
  background-color: rgb(230, 250, 236);
  border: 10px solid rgb(230, 250, 236);
}


.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    
}


.benefits {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits h2 {
  font-size: 28px;
  color: #1f1f1f;
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.benefits ul li {
  font-size: 16px;
  color: #666;
  position: relative;
  padding-left: 30px;
  line-height: 2rem;
}

.benefits ul li::before {
  content: '✔';
  position: absolute;
  left: 0;
  color: #ff4d9e;
  font-size: 12px;
}

.planet-section{
  display: flex;
  flex-direction: column;
  flex-direction: nowrap;
  justify-content: center;
  max-width: 1440px;
  position: relative;
  width: 100%;
  text-align: center;
}
.planet-section h1{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
  color: rgb(6, 3, 24);
  margin-bottom: 20px;
}

.planet-section h2{
  font-size: 16px;  
  font-weight: 400;
  line-height: 1.3em;
  color: rgb(6, 3, 24);
 
}




.image-container {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 250px; 
  background-color: #fff;
}

.scroll-images {
  display: flex;
  animation: scroll 40s linear infinite; 
}


.image-item {
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.image-item img {
  width: 210px;  
  height: 150px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.image-item:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-100% + 100vw)); 
  }
}


.image-container:hover .scroll-images {
  animation-play-state: paused;
}








/* General footer styling */
footer {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  color: #333;
}

/* Footer top section layout for larger screens */
.footer-top {
  display: flex;
  justify-content: space-between; /* Space out logo, links, and social icons */
  align-items: center;
  max-width: 1200px; /* Keeps the layout width consistent */
  margin: 0 auto; /* Centers the entire footer on larger screens */
  gap: 20px;
  flex-wrap: nowrap;
}

.logo {
  flex: 1; /* Ensures the logo takes equal space */
  text-align: left;
}

.footer-links {
  flex: 3; /* Ensures the links section takes more space */
  display: flex;
  justify-content: center; /* Center links in the middle */
  gap: 15px;
  flex-wrap: nowrap;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.social-links {
  flex: 1; /* Ensures social links take equal space */
  display: flex;
  justify-content: flex-end; /* Align to the right */
  gap: 10px;
}

/* Footer bottom section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  flex-wrap: wrap;
}

.footer-bottom-links {
  display: flex;
  gap: 15px;
}

.footer-bottom-links a {
  color: #000000;
  text-decoration: none;
}

.footer-policy-links {
  display: flex;
  gap: 15px;
}

.footer-policy-links a {
  color: #999;
  text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .footer-top,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-links,
  .footer-bottom-links,
  .footer-policy-links {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 660px) {
  .footer-links,
  .footer-bottom-links {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .footer-links,
  .footer-bottom-links,
  .footer-policy-links {
    gap: 5px;
  }
}

 footer svg{
  height: 20px;
  width: 20px;
}

@media (max-width: 700px) {
  .search-input{
    width: 100%;
  }
}


.footer-logo {
  display: flex;
  align-items: center; 
}

.footer-logo a {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  color: #333;
  text-decoration: none;
}